version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-arwa}
      POSTGRES_DB: ${POSTGRES_DB:-enovaapp}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-arwa}@db:5432/${POSTGRES_DB:-enovaapp}?schema=public
      JWT_SECRET: ${JWT_SECRET:-arwa[lkjhgfd23456aseee1298664bbvxcsne3/@!ERRRRFs55s]}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN:-30d}
      NODE_ENV: production
      BACKEND_PORT: 3001
      FRONTEND_URL: ${FRONTEND_URL}
    ports:
      - "3001:3001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    restart: always
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://backend:3001}
      NODE_ENV: production
    ports:
      - "3000:3000"

volumes:
  postgres_data:
